In [1]:
import pandas as pd                    # data package
import matplotlib.pyplot as plt        # graphics module  
import datetime as dt                  # date and time module
import numpy as np                     # foundation for pandas

In [40]:
data_file = "./data/Gravity_V202211.csv" 
# this is from the CEPII gravity data set 
# https://www.cepii.fr/DATA_DOWNLOAD/gravity/data/Gravity_csv_V202211.zip
#its big, even pandas complains because of the type stuff...I'm just going to grab a couple of things

df = pd.read_csv(data_file, usecols = ["iso3_o","iso3_d","dist","year","fta_wto","contig"])
# these are origin, destinatio, distance, year, if in a trade aggreement, if shared border

df = df.loc[df.year == 2014,: ] #match it up with the WIOT 

# then some cleaning to line it up with what I want

In [41]:
df.head()

     year iso3_o iso3_d     dist  contig  fta_wto
66   2014    ABW    ABW      5.0     0.0      0.0
140  2014    ABW    AFG  13256.0     0.0      0.0
214  2014    ABW    AGO   9505.0     0.0      0.0
288  2014    ABW    AIA    978.0     0.0      0.0
362  2014    ABW    ALB   9090.0     0.0      0.0

In [42]:
country_list = ['AUS', 'AUT', 'BEL', 'BRA', 'CAN', 'CHE', 'CHN', 'DEU', 'DNK', 'ESP', 'FIN', 'FRA', 'GBR', 'GRC', 
               'IND', 'IRL', 'ITA', 'JPN', 'KOR', 'MEX', 'NLD', 'NOR', 'PRT', 'SWE', 'TWN', 'USA']

In [43]:
condition = df["iso3_o"].isin(country_list)

df = df.loc[condition,: ] # take only origins that are in the country list

condition = df["iso3_d"].isin(country_list)

df = df.loc[condition,: ] # take only destinations that are in the country list

df.dropna(inplace = True) # Germany has two entries, presumably bc. of west germany, but they rae nan's remove them

In [44]:
df.shape

(676, 6)

In [51]:
len(country_list)*

26

In [52]:
len(country_list)*len(country_list)

676

This should be the size of everything, it should match up with the shape of the df above